body {
    font-family: 'Kanit', sans-serif;
}

.text-nav {
    margin-left: 10%;
}

.cal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmi-cal {
    background: #263238;
    width: 100%;
    padding: 40px 20px;
    margin: 0 0 40px 0;
}

.bmi-480 {
    width: 480px;
    height: 100%;
    margin: 0 auto;
    color: white
}

.bmi-500 {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    color: white
}

.bmi-600 {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    color: rgb(0, 0, 0)
}

.bmi-btn-black {
    background-color: #546e7a;
    color: white;
    height: 50px;
}

.bmi-btn-black:hover {
    color: white !important;
    background: #78909c;
 }

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b3b43;
    margin-bottom: 0;
    border-radius: 10px;
    margin-top: 15%;
}

.bmi-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;

    p {
        margin: 0;
    }
}

.pic-bmi {
    width: 35%;
    border-radius: 5px;
}



.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #78909c;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* สำหรับหน้าจอมือถือ */
@media screen and (max-width: 576px) {
    .pic-bmi {
        width: 100%;
    }

    .nav {
        border-top: 1px solid;
    }

    .form-control {
        width: 100%;
    }

    .display-5 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .lead {
        font-size: 15px;
    }

    .bmi-480 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: white
    }

    .bmi-500 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: white;

        th {
            font-size: 16px;
        }

        td {
            font-size: 13px ;
        }
    }

    .bmi-600 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: rgb(0, 0, 0);
        font-size: 13px;
    }


}
  
/* สำหรับหน้าจอแท็บเล็ต */
@media screen and (min-width: 577px) and (max-width: 1180px) {
    .experience-card {
      width: 70%;
    }
  
    h1 {
      text-align: center;
    }
}